html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.r3f {
  touch-action: none;
}

.htmlScreen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 20px;
  background-color: #000000;
}
